Screen {
    layout: vertical;
}

#main_view {
    align-vertical: middle;
    align-horizontal: center;
    height: 70%;
    layout: horizontal;
    border: heavy white;
}

#log_pane {
    height: 30%;
    border: heavy white;
}

HostWidget {
    width: 33%;
    height: 100%;
    border: white;
}

#network_view {
    width: 33%;
    align: center middle;
}

#logo_container {
    width: auto;
    height: auto;
}

#rdt_logo {
    width: auto;
    height: auto;
}

NetworkWidget {
    width: 100%;
    height: 50%;
    border: heavy white;
}

.title {
    text-align: center;
    background: $primary-background-lighten-2;
    text-style: bold;
}

LayerWidget {
    border-bottom: dashed white;
    padding: 1;
    height: 33%;
}

.layer-content {
    padding-left: 2;
}

.network-content {
    padding: 1;
}
